# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.md
*.png

# exclude jar for gradle wrapper
!gradle/wrapper/*.jar

hs_err_pid*

# build files
**/target
.gradle
build


# Other
/.github/
/.openapi-generator/
/.openapi-generator-ignore
/.travis.yml
/.idea
/git_push.sh
/api
/docs
/gradle
gradle.properties
.DS_Store
